#ignore CDNServer
Backend/CDNServer/log/*
Backend/CDNServer/database/*

#golang
gin-bin
go.sum

#datamongo
Backend/Database/data/*

#javabackend
Backend/JavaBackend/.vscode/*
Backend/JavaBackend/target/*

#frontend
Frontend/**/node_modules/*

#nodejsbackend
node_modules/
.env
seeder.js
data/
logs/