#root {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  background-color: cornflowerblue;
}

.password {
}
.showpass {
}

.login-form {
  padding: 25px;
  height: fit-content;
  width: 500px;
  background-color: white;
}

.login-form h2 {
  margin-bottom: 0px;
}
.login-form input {
  font-size: x-large;
  width: 85%;
}

.signup-form {
  padding: 25px;
  height: fit-content;
  width: 500px;
  background-color: white;
}

.signup-form h2 {
  margin-bottom: 0px;
}
.signup-form input {
  font-size: x-large;
  width: 85%;
}
