@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.user-main {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.user-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.user-h1 {
  font-family: "Lobster", cursive;
  font-size: 3.5rem;
  display: inline;
}

.user-h2 {
  padding-left: 15px;
  padding-top: 10px;
  font-size: 2.5em;

  display: inline;
}
